
body{
  background-color: #2F303A;
  font-family:'Poppins', sans-serif;
}

#btn{
  text-align: center;
  font-size: 18px;
  color: #F6F6F6;
  width: 350px;
  height: 50px;
  background-color: #FFA37F;
}

