html{
  font-family:'Poppins', sans-serif;
}

.btn{
  text-align: center;
  font-size: 18px;
  color: #F6F6F6;
  width: 350px;
  height: 50px;
  background-color: #FFA37F;
  border-radius: 3px;
  border-color: #F6F6F6;
}

.link, .icon {
  color: #5BBCC0;
  text-decoration: none;
}
.link:hover, .icon:hover {
   color: #F6F6F6;
   text-decoration: underline;
}

.link:visited, .icon:visited {
  color: #5BBCC0;
  text-decoration: none;
}